body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: gray;
}

canvas {
    border: 15px solid black;
    background-color: #89CFF0
}

.snakeTitle {
    background-color:#12b7f8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: black;
    border: 3px solid black;
    border-radius: 20%;
    
}


#scorebox {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#spacer {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    flex-shrink: 1;
}

#lifecontainer, #bullshit{
    font-size: 16px;
    font-weight: bold;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    flex:auto;
    border: 2px solid black;
    border-radius: 15%;
   
}


#mute #fx{
    font-size: 10px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    flex:auto;
    border: 2px solid black;
    border-radius: 15%;
    background-color: #12b7f8;
}
#container #volumecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 50px;
    margin-top: 10px;

}

#left, #right, #down, #up {
    width: 50px;
    height: 50px;
    background-color: #12b7f8;
    border: black 4px solid;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    flex-shrink: 1, 1, 1, 1;

    
}

#background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 600px) {
  #background {
    height: 90vh;
    width: 90vw;
    flex-direction: column;
    }
    #bullshit, #spacer, #scorebox, canvas {
        flex-shrink: inherit;
        width: 80vw;
    }
    #container {
        flex-direction: row;
        height: auto;
        gap: 10px;
       
    }

    }

    #Start{

    font-size: 24px;
    height: "100px";
    width: "75px";
    font-weight: bold;
    color: royalblue;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    flex:auto; 
    }

#howtoplay {
    display: flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
    color: black;
    height: 400px;
    width: 400px;
    border: black 4px solid;
    border-radius: 15%;
    box-shadow: 5px 5px 5px lightslategray;
    flex-direction: column;
    justify-content: center;
}

ul{
    list-style: none;
}

